* {
    padding: 0;
    margin: 0;

}

body {
    width: 100%;
}

.inputbox {
    
    padding-top: 50px;
    display: flex;
    justify-content : space-between;
    width: 50%;
    height: 40px;
    margin: auto;
}

#input {
    
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding:10px 5px 0 0px ;
    border-style: none none solid none;
    border-color: #d8e3e7;
    color: rgb(18, 18, 19);
    transition-property:  padding ;
    transition-duration: 0.25s;
}
#input:focus{
outline: none;
border-style: none none solid none;
border-color: #51c4d3;
caret-color: #51c4d3;
padding-left: 5px ;


}
#input::placeholder{
    opacity: 0.8;
    color: #1f264d;
} 
.addbutton{
    height: 100%;
    width: 19%;
    box-sizing: border-box; 
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #d8e3e7;
    transition-property: border-color,color;
    transition-duration: 0.3s;
    background-color: inherit;
    font-size: 20px;
    color: #d8e3e7;
}

.addbutton:hover{
    border-color: #51c4d3;
    color: #51c4d3;
   
}
.addbutton:disabled{
    
    color: #d8e3e7;
    border-color: #d8e3e7;
}

/* button{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    background-color: #132c33;
    color: white;
    
} */




.Strikethrough {
    text-decoration: line-through;
}

.showbtn {
   visibility: visible;
}

.noteliste {
    width: 50%;
    margin: auto;
    background-color: #EEE;

}

.noteSytle {
    margin: 20px;
    background-color: #d8e3e7;
    padding: 4px;
    text-align: right;
}

.noteliste .noteTxt{
    width: 100%;
    text-align: left;
    
}
